.roomslist {
  padding: 5rem 0;
}

.roomslist-center {
  margin: 0 auto;
  width: 80vh;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(270px, 1fr));
  grid-column-gap: 30px;
  grid-row-gap: 2rem;
}

@media screen and (min-width: 776px) {
  .roomslist-center {
    width: 90vw;
  }
}
@media screen and (min-width: 992px) {
  .roomslist-center {
    width: 95vw;
    max-width: 1170px;
  }
}
